<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Make a Plan| company</title>
    <link href="static/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto"> 
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{ user[0][0]}} {{ user[0][1] }}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        
                                        <div class="dropdown-divider"></div>
                                        <li><a href="/logout.html" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                    {% for message in messages %}  
                        <script type="text/javascript">alert("{{ message }}");</script>  
                    {% endfor %}  
                {% endif %}  
            {% endwith %} 
            <div class="content">
                <div class="container">
                    
                    <form action="newplan" method="POST">
                    <div class="box box-primary">
                        <div class="box-body">
                            
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                                    <div class="col-md-6">
                                        <p class="text-muted">Add plan.</p>
                                        <div class="mb-3">
                                            <label for="ssn" class="form-label">Your ID</label>
                                            <input type="text" name="ssn" class="form-control" required>
                                        </div>
                                         <input type="hidden" id="plan_type" name="plan_type" value="{{ plan_type }}">
                                         <input type="hidden" id="custId" name="custId" value="{{ customer }}">
                                        <div class="mb-3 text-start"> <label for="dependent_name">Dependent name</label> <select  id="dependent_name" name="dependent_name" class="form-control">
                                            <option value="me">Me</option>
                                            {% for dep in dependents %}
                                            <option value="{{ dep[0] }}">{{ dep[0] }}</option>
                                            {% endfor %}
                                            
                                        </select> </div>

                                        
                                            <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/script.js"></script>
</body>

</html>