<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Plan Details| company</title>
    <link href="static/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/master.css" rel="stylesheet">
    <link href="static/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{ user[0][0] }} {{ user[0][1] }}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="/customer.html?customer_id={{ cust_id }}" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        
                                        <div class="dropdown-divider"></div>
                                        <li><a href="/logout.html" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle"> </div>
                            
                            <h2 class="page-title"> Plan {{ plan_id }}
                            <form id="myform1" method="POST" action="updatecustomer">
                                <input type="hidden" name="customer_id" value="{{ cust_id }}" />
                                <input type="hidden" name="plan_id" value="{{ plan_id }}" />
                            </form>
                                <a onclick="document.getElementById('myform1').submit();" class="btn btn-outline-info btn-rounded" style="float:right">Add Yourself <i class="fas fa-pen"></i></a>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                    
                        <div class="col-md-6">
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h5 class="mb-0">Associated Hospitals </h5>
                                        
                                    </div>
                                    <div class="canvas-wrapper">
                                        <table class="table table-striped">
                                            <thead class="success">
                                                <tr>
                                                    <th>Hospital name</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for hos in hospitals %}
                                                <tr>
                                                    <td><i><a> {{ hos[0] }}</a></td>
                                                    
                                                    
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h5 class="mb-0">Associated Dependents</h5>
                                        
                                    </div>
                                    <div class="canvas-wrapper">
                                        <table class="table table-striped">
                                            <thead class="success">
                                                <tr>
                                                    <th>Dependent ID</th>
                                                    <th class="text-end">Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for dep in dependents %}
                                                <tr>
                                                    <td><i><a>{{ dep[0] }} </i></a></td>
                                                    <td class="text-end">{{ dep[1] }} </a></td>
                                                    
                                                    
                                                </tr>
                                                {% endfor %}
                                                
                                                    <tr>
                                                        <form id="myform" method="POST" action="updatedependent">
                                                            <input type="text" name="dependent_id" placeholder="Dependent ID" />
                                                            <input type="hidden" name="customer_id" value="{{ cust_id }}" />
                                                            <input type="hidden" name="plan_id" value="{{ plan_id }}" />
                                                        </form>
                                                        <a onclick="document.getElementById('myform').submit();" class="btn btn-outline-info btn-rounded" style="float:right">Add Dependent <i class="fas fa-pen"></i></a>
                                                    </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/chartsjs/chart.min.js"></script>
    <script src="static/assets/js/dashboard-charts.js"></script>
    <script src="static/assets/js/script.js"></script>
</body>

</html>